#
# .gitignore
#

## Generic Backup & Temporary Files ##

*~
*.bak
*.tmp


## Intel Quartus build files ##

gateware/**/build/
gateware/**/db/
gateware/**/incremental_db/
gateware/**/*.pdf
